html
{
	background: #000000 url("../images/mmm-website-assets-bg.png") no-repeat center center fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 492px;
	padding-bottom: 73px;
	margin-left: auto;
	margin-right: auto;
}

#u2071
{
	z-index: 2;
	width: 645px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 177px;
}

#u2076
{
	z-index: 4;
	width: 73px;
	height: 73px;
	margin-right: -10000px;
	margin-top: 416px;
	left: 303px;
}

#u2076:hover
{
	margin: 416px -10000px 0px 0px;
}

#u2076:active
{
	margin: 416px -10000px 0px 0px;
}

#u2097
{
	z-index: 5;
	width: 73px;
	height: 73px;
	margin-right: -10000px;
	margin-top: 416px;
	left: 411px;
}

#u2076.MuseLinkActive,#u2097:hover
{
	margin: 416px -10000px 0px 0px;
}

#u2097:active
{
	margin: 416px -10000px 0px 0px;
}

#u2118
{
	z-index: 6;
	width: 73px;
	height: 73px;
	margin-right: -10000px;
	margin-top: 416px;
	left: 519px;
}

#u2097.MuseLinkActive,#u2118:hover
{
	margin: 416px -10000px 0px 0px;
}

#u2118:active
{
	margin: 416px -10000px 0px 0px;
}

#u2139
{
	z-index: 7;
	width: 73px;
	height: 73px;
	margin-right: -10000px;
	margin-top: 416px;
	left: 627px;
}

#u2118.MuseLinkActive,#u2139:hover
{
	margin: 416px -10000px 0px 0px;
}

#u2139:active
{
	margin: 416px -10000px 0px 0px;
}

#u2160
{
	z-index: 8;
	width: 73px;
	height: 73px;
	margin-right: -10000px;
	margin-top: 419px;
	left: 735px;
}

#u2160:hover
{
	margin: 419px -10000px 0px 0px;
}

#u2160:active
{
	margin: 419px -10000px 0px 0px;
}

#u2160.MuseLinkActive
{
	margin: 419px -10000px 0px 0px;
}

#u2181
{
	z-index: 9;
	width: 73px;
	height: 73px;
	margin-right: -10000px;
	margin-top: 416px;
	left: 195px;
}

#u2139.MuseLinkActive,#u2181:hover
{
	margin: 416px -10000px 0px 0px;
}

#u2181:active
{
	margin: 416px -10000px 0px 0px;
}

#u2181.MuseLinkActive
{
	margin: 416px -10000px 0px 0px;
}

body
{
	padding-top: 20px;
	padding-bottom: 20px;
}

