#u2207
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
	background: transparent url("../images/mmm-website-assets-button-aboutme.png") no-repeat left top;
	background-size: contain !important;
}

#u2207:hover
{
	background: transparent url("../images/mmm-website-assets-button-aboutme2.png") no-repeat left top;
	background-size: contain !important;
}

#u2207:active
{
	background: transparent url("../images/mmm-website-assets-button-aboutme3.png") no-repeat left top;
	background-size: contain !important;
}

#u2207.MuseLinkActive
{
	background: transparent url("../images/mmm-website-assets-button-aboutme4.png") no-repeat left top;
	background-size: contain !important;
}

#u2208
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
	background: transparent url("../images/mmm-website-assets-button-design.png") no-repeat left top;
	background-size: contain !important;
}

#u2208:hover
{
	background: transparent url("../images/mmm-website-assets-button-design2.png") no-repeat left top;
	background-size: contain !important;
}

#u2208:active
{
	background: transparent url("../images/mmm-website-assets-button-design3.png") no-repeat left top;
	background-size: contain !important;
}

#u2208.MuseLinkActive
{
	background: transparent url("../images/mmm-website-assets-button-design4.png") no-repeat left top;
	background-size: contain !important;
}

#u2209
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
	background: transparent url("../images/mmm-website-assets-button-mg.png") no-repeat left top;
	background-size: contain !important;
}

#u2209:hover
{
	background: transparent url("../images/mmm-website-assets-button-mg2.png") no-repeat left top;
	background-size: contain !important;
}

#u2209:active
{
	background: transparent url("../images/mmm-website-assets-button-mg3.png") no-repeat left top;
	background-size: contain !important;
}

#u2209.MuseLinkActive
{
	background: transparent url("../images/mmm-website-assets-button-mg4.png") no-repeat left top;
	background-size: contain !important;
}

#u2210
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
	background: transparent url("../images/mmm-website-assets-button-tl.png") no-repeat left top;
	background-size: contain !important;
}

#u2210:hover
{
	background: transparent url("../images/mmm-website-assets-button-tl2.png") no-repeat left top;
	background-size: contain !important;
}

#u2210:active
{
	background: transparent url("../images/mmm-website-assets-button-tl3.png") no-repeat left top;
	background-size: contain !important;
}

#u2210.MuseLinkActive
{
	background: transparent url("../images/mmm-website-assets-button-tl4.png") no-repeat left top;
	background-size: contain !important;
}

#u2211
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
	background: transparent url("../images/mmm-website-assets-button-updates.png") no-repeat left top;
	background-size: contain !important;
}

#u2211:hover
{
	background: transparent url("../images/mmm-website-assets-button-updates2.png") no-repeat left top;
	background-size: contain !important;
}

#u2211:active
{
	background: transparent url("../images/mmm-website-assets-button-updates3.png") no-repeat left top;
	background-size: contain !important;
}

#u2211.MuseLinkActive
{
	background: transparent url("../images/mmm-website-assets-button-updates4.png") no-repeat left top;
	background-size: contain !important;
}

#u2212
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
	background: transparent url("../images/mmm-website-assets-button-home.png") no-repeat left top;
	background-size: contain !important;
}

#u2212:hover
{
	background: transparent url("../images/mmm-website-assets-button-home2.png") no-repeat left top;
	background-size: contain !important;
}

#u2212:active
{
	background: transparent url("../images/mmm-website-assets-button-home3.png") no-repeat left top;
	background-size: contain !important;
}

#u2212.MuseLinkActive
{
	background: transparent url("../images/mmm-website-assets-button-home4.png") no-repeat left top;
	background-size: contain !important;
}

#u2222_clip
{
	overflow: hidden;
}

#u2202,#u2470,#u2222,#u2452,#u2457,#u2447
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
}

